* {
    box-sizing: border-box;
}

.colorido {
    background-color: #F5F5F5;
    padding: 20px;
    margin: 40px;
}

.strong {
    background-color: #F0CCE2;    
    font-style: bold;
    padding: 20px;
    margin: 40px;
}